// Grid demo navbar
nav.yamm.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Yamm Megamenu
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-collapse-grid' aria-controls='navbar-collapse-grid' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
  #navbar-collapse-grid.navbar-collapse.collapse
    ul.navbar-nav.mr-auto
      // Grid 12 Menu
      li.nav-item.dropdown.yamm-fw
        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
          | Grid
        .dropdown-menu.p-0
          .grid-demo
            .row
              .col-sm-12 .col-sm-12
            .row
              .col-sm-6 .col-sm-6
              .col-sm-6 .col-sm-6
            .row
              .col-sm-4 .col-sm-4
              .col-sm-4 .col-sm-4
              .col-sm-4 .col-sm-4
            .row
              .col-sm-3 .col-sm-3
              .col-sm-3 .col-sm-3
              .col-sm-3 .col-sm-3
              .col-sm-3 .col-sm-3
            .row
              .col-sm-2 .col-sm-2
              .col-sm-2 .col-sm-2
              .col-sm-2 .col-sm-2
              .col-sm-2 .col-sm-2
              .col-sm-2 .col-sm-2
              .col-sm-2 .col-sm-2
            .row
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
              .col-sm-1 .col-sm-1
      //
         With Offsets
      li.nav-item.dropdown.yamm-fw
        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
          | Offset
        .dropdown-menu.p-0
          .grid-demo
            .row
              .col-sm-4 4
              .col-sm-4.col-sm-offset-4 4 offset 4
            .row
              .col-sm-3.col-sm-offset-3 3 offset 3
              .col-sm-3.col-sm-offset-3 3 offset 3
            .row
              .col-sm-6.col-sm-offset-3 6 offset 6
      //
         Aside Menu
      li.nav-item.dropdown.yamm-fw
        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
          | Aside
        .dropdown-menu.p-0
          .grid-demo
            .row
              .col-sm-3
                .d-flex.py-4.justify-content-center.align-items-center
                  h3 3
              .col-sm-9
                .d-flex.py-4.justify-content-center.align-items-center
                  h3 9
      //
         Nesting Menu
      li.nav-item.dropdown.yamm-fw
        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
          | Nesting
        .dropdown-menu.p-0
          .grid-demo
            .row
              .col-sm-12 12
            .row
              .col-sm-12 12
                .row
                  .col-sm-4 4
                  .col-sm-4 4
                  .col-sm-4 4
      //
         Dropup
      li.nav-item.dropup.yamm-fw
        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
          | Dropup
        .dropdown-menu.p-0
          .grid-demo
            .row
              .col-sm-12 12
            .row
              .col-sm-12 12
                .row
                  .col-sm-4 4
                  .col-sm-4 4
                  .col-sm-4 4
